<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>和泉一織</string>
		<key>shortcut</key>
		<string>いずみいおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二階堂大和</string>
		<key>shortcut</key>
		<string>にかいどうやまと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和泉三月</string>
		<key>shortcut</key>
		<string>いずみみつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>四葉環</string>
		<key>shortcut</key>
		<string>よつばたまき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>逢坂壮五</string>
		<key>shortcut</key>
		<string>おうさかそうご</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>六弥ナギ</string>
		<key>shortcut</key>
		<string>ろくやなぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>七瀬陸</string>
		<key>shortcut</key>
		<string>ななせりく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>和泉</string>
		<key>shortcut</key>
		<string>いずみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>逢坂</string>
		<key>shortcut</key>
		<string>おうさか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>六弥</string>
		<key>shortcut</key>
		<string>ろくや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>七瀬</string>
		<key>shortcut</key>
		<string>ななせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一織</string>
		<key>shortcut</key>
		<string>いおり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三月</string>
		<key>shortcut</key>
		<string>みつき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>環</string>
		<key>shortcut</key>
		<string>たまき</string>
	</dict>
		<dict>
		<key>phrase</key>
		<string>壮五</string>
		<key>shortcut</key>
		<string>そうご</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>八乙女楽</string>
		<key>shortcut</key>
		<string>やおとめがく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>九条天</string>
		<key>shortcut</key>
		<string>くじょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>十龍之介</string>
		<key>shortcut</key>
		<string>つなしりゅうのすけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>九条</string>
		<key>shortcut</key>
		<string>くじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>十</string>
		<key>shortcut</key>
		<string>つなし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>楽</string>
		<key>shortcut</key>
		<string>がく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龍之介</string>
		<key>shortcut</key>
		<string>りゅうのすけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>百</string>
		<key>shortcut</key>
		<string>もも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千</string>
		<key>shortcut</key>
		<string>ゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小鳥遊紡</string>
		<key>shortcut</key>
		<string>たかなしつむぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大神万里</string>
		<key>shortcut</key>
		<string>おおがみばんり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小鳥遊音晴</string>
		<key>shortcut</key>
		<string>たかなしおとはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小鳥遊</string>
		<key>shortcut</key>
		<string>たかなし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>大神</string>
		<key>shortcut</key>
		<string>おおがみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>紡</string>
		<key>shortcut</key>
		<string>つむぎ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>万里</string>
		<key>shortcut</key>
		<string>ばんり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>音晴</string>
		<key>shortcut</key>
		<string>おとはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亥清悠</string>
		<key>shortcut</key>
		<string>いすみはるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>狗丸トウマ</string>
		<key>shortcut</key>
		<string>いぬまるとうま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>棗巳波</string>
		<key>shortcut</key>
		<string>なつめみなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>御堂虎於</string>
		<key>shortcut</key>
		<string>みどうとらお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亥清</string>
		<key>shortcut</key>
		<string>いすみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>狗丸</string>
		<key>shortcut</key>
		<string>いぬまる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>棗</string>
		<key>shortcut</key>
		<string>なつめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>御堂</string>
		<key>shortcut</key>
		<string>みどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>悠</string>
		<key>shortcut</key>
		<string>はるか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>巳波</string>
		<key>shortcut</key>
		<string>みなみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>虎於</string>
		<key>shortcut</key>
		<string>とらお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>月雲了</string>
		<key>shortcut</key>
		<string>つくもりょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>月雲</string>
		<key>shortcut</key>
		<string>つくも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>IDOLiSH7</string>
		<key>shortcut</key>
		<string>あいどりっしゅせぶん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MEZZO"</string>
		<key>shortcut</key>
		<string>めっぞ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>TRIGGER</string>
		<key>shortcut</key>
		<string>とりがー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Re:vale</string>
		<key>shortcut</key>
		<string>りばーれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ŹOOĻ</string>
		<key>shortcut</key>
		<string>ずーる</string>
	</dict>
</array>
</plist>
